.habit-item {
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  box-shadow: var(--panel-shadow);
  position: relative;
}

.habit-desc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habit-item-actions {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.habit-item-actions svg {
  width: 18px;
  height: 18px;
}

.habit-item:hover .habit-item-actions {
  opacity: 1;
}

.habit-item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.habit-item-stats {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  color: var(--text-main);
  transition: opacity 0.2s ease-in-out;
}

.habit-item:hover .habit-item-stats {
  opacity: 0.6;
}

.habit-item-title {
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 400;
  opacity: 0.75;
  margin: 0;
  color: var(--text-main);
}

.habit-item-desc {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.75;
  margin: 0;
  color: var(--habit-desc);
}

/* 
  Reusable background color classes for habits.
  These can also be used for calendar grid cells.
*/
.habit-bg-0 { background-color: #D0E2F5; }
.habit-bg-1 { background-color: #CDE6D6; }
.habit-bg-2 { background-color: #FFE691; }
.habit-bg-3 { background-color: #E3DEE8; }
.habit-bg-4 { background-color: #ECC6BA; }
